<div class="col-md-12">
  <fieldset>
    <div class="form-group">
      <div data-ng-show="error" class="text-center text-danger">
        <div class="alert alert-danger" role="alert">
          <strong data-ng-bind="error" ></strong>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Titre : </label>
        <div class="controls">
          {{currentProject.title}}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Description : </label>
        <div class="controls">
          {{currentProject.description}}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Année : </label>
        <div class="controls">
          {{currentProject.year}}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Le(s) utilisateurs(s) : </label>
        <div ng-repeat="user in usersForProject">
          <div class="input-group input-group-lg">
            <a  href="#/users/{{user.id}}" class="list-group-item">
              <h5>{{user.name}} {{user.surname}}</h5>
            </a>
            <span class="input-group-btn">
              <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteUserFromProject(currentProject.id, user.id);reloadPage()"></button>
            </span>
          </div>
        </div>
      </div>

    </div>
  </fieldset>
  </button>
</div>
